.audio-file{
    display:flex;
    justify-content: flex-start;
    align-content:center;
    width:630px;
    height:40px;
    padding:5px;
    border-radius:10px;
    margin-bottom:5px;
}

.title-button-container{
    display:flex;
    align-items:center;
    width:100%;
}

li{
list-style:none;
}
.audio-file-title{
    display:flex;
    margin-left: 15px;
}

.audio-File-button{
   background-color: transparent;
   border:none;
   font-size:1.2rem;
}
.slider{
    position:absolute;
    top:63px;
    left:570px;
    background-color: black;
    width:1px;
    height:490px;
    }

