.audio-file{
    display:flex;
    justify-content: center;
    border:1px solid blue;

}
.audio-File-container{
    border:1px solid red;
    width:100px;
    height:30px;
}
.audio-file-title{
    width:100px;
    height: 30px;  
}