.PlayList{
    display:flex;
   flex-direction:column;
    justify-content: center;
    align-items: center;

}
/* .slider{
position:absolute;
top:63px;
left:570px;
background-color: black;
width:1px;
height:490px;
} */
#range-bar{
    width:500px;
    margin-left:160px;
  color:black;
}

@media (max-width: 650px){
    #range-bar{
        width:300px;
        margin-left:135px;
    } 
}