.PlayList{
    display:flex;
   flex-direction:column;
    justify-content: center;
    align-items: center;

}
#range-bar{
    width:500px;
    margin-left:160px;
  color:black;
}

@media (max-width: 650px){
    #range-bar{
        width:300px;
        margin-left:135px;
    } 
}