.songs-container {
 display:flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 height:80vh;
 border: 3px solid blue;
}
.header{
  font-size:2.5rem;
  font-weight:bold;
  text-align:center;
}
.audioAll{
  display:flex;
  justify-content:center;
  align-items:center;
  width:60%;
  background-color: aqua;
}









